*{
    box-sizing: border-box;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0;
    margin: 0;
}

:root{
    --principal: #EFEFEF;
    --aside: #E1B2A7;
    --footer: #AFBFBF;
}

body{
    padding: 5%;
}


.container{
    background-color: var(--principal);
}


/*HEADER*/
header{
    display: flex;
    height: 210px;
}


header .image{
    background-color: var(--footer);
    min-height: 100%;
    width: 45%;
    margin: 0% 2% 0% 5%;
}

header .image img{
    max-width: 100%;
    border-radius: 50%;
    position: relative;
    margin-top: 120px;
}

header .text_container{
    padding: 5% 5% 10% 0%;
}

header .text_container h1, header .text_container h4 {
    padding-bottom: 1%;
}

header .text_container p{
    padding:1% 0% 1% 0% ;
    line-height: 1.5em;
}

/*MAIN*/

main{
    display: flex;
    margin-bottom:5%;
   
}


/*main.aside*/
aside{
    background-color: var(--aside);
    min-height: 600px;
    width: 30%;
    padding: 10% 5% 5% 3%;
}

aside h3{
    font-weight: 900;
    margin-bottom: 20%;
}


aside h3::after{
    content:"";
    position: absolute;
    height: 20px;
    width:50px;
    padding-top:1%;
    border-bottom: 3px solid black;
    left: 80px;
}


aside ul{
    list-style: none;
} 

aside ul li{
    margin-bottom: 10%;
    font-weight: 100;
    font-size:15px;
}

aside ul li span{
    display:block;
}

aside ul li h4{
    padding-bottom:4%;
}

/*main.section.pricipal*/

.principal{
    width: 70%;
    padding:4% 4% 0% 2.5%;
}

.principal h4, .principal p{
    margin-bottom: 5%;
}

.principal h4:nth-child(1){
   text-transform: uppercase;
}

.principal h4:nth-child(1):after{
    content:"";
    position: absolute;
    height: 20px;
    width:68px;
    padding-top:1%;
    border-bottom: 3px solid var(--aside);
    left:355px;}

.principal h4:nth-child(2){
    font-weight: 300;
 }

 .principal p{
    font-weight: 300;
    line-height: 1.4em;
}

.principal .assignature{
    float: right;
}

footer{
    background-color: var(--footer);
    position: relative;
    width: 100%;
    height: 20px;
    bottom: 0px;
}