/*|| RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@font-face{
    font-family: jersey;
    src: url("./font/JerseyM54-aLX9.ttf");
}

/*COLORS*/
:root{
    --sidebar:#333134;
    --sidebar-2:#48484A;
    --special:#DEB83D;
    --captation:#333133;
    --bar:#DDB83D;
    --font_nome:'Cutive Mono', monospace;
    --font_generic:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*LAYOUT*/

main{
    padding: 0%;
    background-color: aliceblue;
    font-family:var(--font_generic);
}

.flex{
    display: flex;
    flex-direction: row;
}

.aling-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap{
    gap: 40px; 
}

.m-t{
    margin-top: 40px;
}

.link{
    font-size: 14px;
    font-weight: 800;
    text-decoration: underline;
    color: #178cc2;
}



/*|| COMMON STYLE*/
.bottom-line{
    padding-bottom: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}

ul{
    list-style: none;
}

h3, h4{
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar a{
    text-decoration: none;
    color:white;
}


/*SIDEBAR*/
.sidebar{
    width: 30%;
    min-height:2700px;
    background-color:var(--sidebar);
    font-size: small;
    color: white;
}

/*image*/
.image_container{
    width:60%;
    height:160px;
    margin-left:40%;
    margin-top: 20%;
    background-color: var(--special);
    
}

.image_container img{
    max-width: 100%;
    max-height: 100%;
}


.sb{
    margin-top: 20%;
    margin-bottom: 20%;
}


.sidebar ul li{
    margin-top: 10%;
    margin-bottom:10%;
}


.sidebar h3{
    border-color: white;
    margin-bottom: 15%;
}

.info_container{
    padding: 15%;
}


/*contact*/

.contacts{
    margin-top: 0%;
}

.contacts ul li{
    border-bottom-color: var(--special);
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top:3%;
    margin-bottom: 3%;
}

.contacts .icon{
    padding-right: 5%;
    color:var(--special);
}

.space{
    padding-left:10px;
    padding-right:10px;
    color:var(--special);
}

/*education*/
.education{
    background-color: var(--sidebar-2);
    margin-left:-4vw;
    margin-right:-4vw;
    padding:20% 20% 10% 20%;
}

.education ul li h4, .education ul li p {
    line-height: 1.5em;
}

/*skills*/

.skill{
    padding: 4%;
}

.skill  p{
    display: inline-block;
   /* width: 60%;*/
    margin-top: 0%;
    /*margin-right: 5%;*/
}

.skill .bar{
    border:1.8px solid var(--special);
    margin-top:2.5%;
    margin-left: 2%;
    padding:0%;
    width: 100%;
    height: 6px;
}
.skill .bar .percentagem{
    display: block;
    background-color: var(--special);
    border-color: var(--special);
    height:100%;
}

.percentagem.one{
    width: 60%;
}
.percentagem.two{
    width: 50%;
}
.percentagem.three{
    width: 65%;
}
.percentagem.four{
    width: 65%;
}
.percentagem.five{
    width: 70%;
}
.percentagem.six{
    width: 80%;
}

.bullet{
    display:inline-block;
    margin-top: -5px;
    margin-right: -2.5px;
    width: 8px;
    height:13px;
    border: 1.5px solid rgba(0, 0, 0, 0.767);
    border-radius: 0%;
    background-color: var(--special);
}


/*Linguas*/
.language div.flex{
   margin-bottom: 4%;
}

.circle{
    font-family:sans-serif;
    width: 40px;
    text-align: center;
    padding: 2.5%;
    border-radius:15%;
    border: 1.5px solid var(--special);
}

.circle + div{
    padding: 2.5% 2.5% 2.5% 5%;
}


/*MAIN*/
.sub_main{
    width: 70%;
    min-height: 1300px;
    background-color: white;
}

.block_container{
    padding:5%;
}

.name{
    height: 160px;
    margin-top:8.5%;
    padding: 3% 5% 3% 5%;
    background-color: var(--special);
}

.name h1{
    font-family: var(--font_nome);
    font-weight: 100;
    text-transform: uppercase;
}


.name .container{
    width: 100%;
    padding: 1% 3% 1% 3%;
    text-transform: uppercase;
    background-color: #333133;
    color: white;
    font-weight: 450;
    letter-spacing:.3em;

}

.name .container h5{
    padding-right:3%;
    font-weight: 450;

}
.name .empty{
    width:25%;
    margin-top: 1.5%;
    border-top: 1.5px solid white;
}

/*General blocks*/

.block{
    margin-bottom: 5%;
}

/*title*/
.block h3.bottom-line{
    margin-bottom: 5%;
}

/*inner-block*/
.block .inner-block{
    margin-bottom: 5%;
}

.inner-block .local{
    font-size: 17px;
    padding-top: .6%;
    padding-bottom: .8%;
    font-weight:560;
}

.inner-block ul{
    list-style-type: square;
    list-style-position: inside;
    padding-top: 1.3%;
    padding-left:5%;
}

.inner-block ul li{
text-align: justify;
line-height:28px}

/*Paragraphs*/

.block_container .block p{
line-height:28px;
text-align: justify;
}

.name-item{
    font-weight: 900;
}